/*
============================================
Header area
============================================
*/

.jumbotron {
  text-align: center;
}

header h1 {
  text-shadow: 5px 5px 2px #000000;
}

.heroImage {
  background-image: url(/assets/images/marvel-heroes.png);
  object-fit: scale-down;
  overflow: hidden;
}

/*
============================================
Text underneath Header
============================================
*/

blockquote {
  margin-left: 50px;
  text-align: center;

  width: auto;
}
.snarkyComment {
  width: 80%;
  margin-left: 30px;
}

/*
============================================
Main area of page
============================================
*/

.middle {
  display: flex;
}

@media only screen and (max-width: 500px) {
  body {
    display: block;
  }
  main {
    display: block;
  }
  .middle {
    display: block;
  }
  .choice {
    display: block;
  }
  .results {
    clear: both;
  }
  .row {
    margin-left: 50px;
  }
}

/*Left section of main area*/
.choice {
  width: 40%;
}

/*Drop down menu for hero selection*/
.heros {
  width: 300px;
  margin-left: 50px;
}

.col-lg-10 {
  justify-content: flex-end;
}

/*Text underneath drop-down menu*/
.lead {
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 20px;
  width: 275px;
}

/*Results area on right side of Main section*/

.progress {
  margin-left: 40px;
  width: 50%;

}

.results {
  align-self: flex-end;
  padding: 5px;
}

img {
  padding: 4px;
  height: 225px;
  width: 150px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #dc1c16;
  box-shadow: 7px 7px 4px grey;
  transition: .5s;
}

img:hover {
  transform: scale(2, 2);
  opacity: 1;
}
/*
============================================
Footer
============================================
*/

.well {
  text-align: center;
}
